# Ignorar archivos de entorno y otros archivos que no deberían ser compartidos
venve/
__pycache__/
*.pyc

# Ignorar el archivo .env que contiene la clave de la API
.env

# Ignorar configuración local del editor
.vscode/